FPGA/DE10_LITE_Golden_Top*
!FPGA/DE10_LITE_Golden_Top.htm
!FPGA/DE10_LITE_Golden_Top.qpf
!FPGA/DE10_LITE_Golden_Top.qsf
!FPGA/DE10_LITE_Golden_Top.sdc
!FPGA/DE10_LITE_Golden_Top.v

FPGA/db
FPGA/incremental_db
FPGA/nios_accelerometer
FPGA/.qsys_edit

FPGA/software/infoProc22_sw/obj
**/*_bsp/**/*

**/*.npy

**/.vscode

**/*.sopcinfo

*.elf
*.map
*.objdump
*.html
*.htm

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
